:root {
  --color-gray-900: hsl(0, 0%, 8%);
  --color-gray-800: hsl(0, 0%, 12%);
  --color-gray-700: hsl(0, 0%, 20%);
  --color-green-default: hsl(75, 94%, 57%);
  --color-white: hsl(0,0%,100%);
  --font-primary: "Inter", sans-serif;
  --default-line-height: 150%;


  /* Spacing */
  --spacing-500: 40px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;
}

html {
  box-sizing: border-box;
  color: var(--color-white)
}

body {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;    /* centers vertically */
  min-height: 100vh;      /* ensures the container takes up full viewport height */
  margin: 0;  
  font-size: 14px;
  font-family: var(--font-primary);
  line-height: var(--default-line-height);
  background-color: var(--color-gray-900);
}

h1 {
  margin: 0px;
  height: 36px;
  font-size: 24px;
}

h2 {
  color: var(--color-green-default);
  font-size: 14px;
  margin: 0px;
  font-weight: 600;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-800);
  border-radius: 12px;
  width: 304px;
  height: 531px;
  align-items: center;
  padding: 40px;
}

.header {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.imageContainer {
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
}

.avatar {
  height: 88px;
  width: 88px;
  border-radius: 44px;
  overflow: hidden;
}

.infoContainer {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.description {
  margin: 0px;
}

.links {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}

.link  {
  transition: 0.3s;
  padding: 12px;
  gap: 8px;
  align-content: center;
  background-color: var(--color-gray-700);
  border-radius: 8px;

  &:hover {
    background-color: var(--color-green-default);
    cursor: pointer;
    color: var(--color-gray-700)
  }
}

.link > p {
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

